<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Tunisa Tourism Dashboard</title>
    <!-- base:css -->
    <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/style_spica.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="static/img/favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-scroller d-flex">
        <!-- partial:./partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item sidebar-category">
                    <p>Navigation</p>
                    <span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="mdi mdi-view-quilt menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                        <!-- <div class="badge badge-info badge-pill">2</div> -->
                    </a>
                </li>
                <li class="nav-item sidebar-category">
                    <p>What to do next?</p>
                    <span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/local_experiences">
                        <i class="mdi mdi-magnify menu-icon"></i>
                        <span class="menu-title">Find local experiences</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/preferences">
                        <i class="mdi mdi-clock menu-icon"></i>
                        <span class="menu-title">Find iteneraries</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/feed_back">
                        <i class="mdi mdi-emoticon menu-icon"></i>
                        <span class="menu-title">Leave a review</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper" style="background-image: url('/static/img/other/navbar-cover.jpg');
        background-size: cover;
       ">
            <!-- partial:./partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-xl-start">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <!--<div class="navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="index.html"><img src="static/img/logo.svg" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="static/img/logo-mini.svg" alt="logo"/></a>
          </div>-->
                    <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back, {{username}}</h4>
                </div>
                <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">

                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <img src="static/img/faces/face5.jpg" alt="profile" />
                                <span class="nav-profile-name">{{username}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                aria-labelledby="profileDropdown">
                                <a class="dropdown-item">
                                    <i class="mdi mdi-settings text-primary"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="/signout">
                                    <i class="mdi mdi-logout text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link icon-link">
                                <i class="mdi mdi-plus-circle-outline"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('main.preferences')}}" class="nav-link icon-link">
                                <i class="mdi mdi-web"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <form action="/save_feed" method="post">
                        <fieldset>
                            <legend style="text-align: center;">Leave your feed back after visiting the site and doing
                                the activities</legend>
                            <div class="form-row d-flex justify-content-center" style="width: 70%; margin-left: 15%;">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">How relevant the recommendation
                                        was?</span>
                                    <input type="number" min="1" max="5" class="form-control" placeholder="1 to 5" name="recom" required />
                                </div>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping">How interesting were the
                                        activities?</span>
                                    <input type="number" min="1" max="5" class="form-control" placeholder="1 to 5" name="actvs" required />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text" id="addon-wrapping">How likely is it that you will
                                        return?</span>
                                    <div class="input-group-text">
                                        <input type="radio" value="Yes" name="return" required />
                                    </div>
                                    <input type="text" class="form-control" placeholder="Yes" disabled />
                                    <div class="input-group-text">
                                        <input type="radio" value="No" name="return" required />
                                    </div>
                                    <input type="text" class="form-control" placeholder="No" disabled />
                                    <div class="input-group-text">
                                        <input type="radio" value="Maybe" name="return" required />
                                    </div>
                                    <input type="text" class="form-control" placeholder="Maybe" disabled />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text" id="addon-wrapping">How do you feel about your visit?</span>
                                    <div class="input-group-text">
                                        <input type="radio" value="positive" name="feel" required />
                                    </div>
                                    <input type="text" class="form-control" placeholder="Positive" disabled />
                                    <div class="input-group-text">
                                        <input type="radio" value="negative" name="feel" required />
                                    </div>
                                    <input type="text" class="form-control" placeholder="Negative" disabled />
                                </div>
                                <div class="input-group">
                                    <span class="input-group-text" id="addon-wrapping">How do you feel about the activities?</span>
                                    <div class="input-group-text">
                                        <input type="radio" value="positive" name="act" required />
                                    </div>
                                    <input type="text" class="form-control" placeholder="Positive" disabled />
                                    <div class="input-group-text">
                                        <input type="radio" value="negative" name="act" required />
                                    </div>
                                    <input type="text" class="form-control" placeholder="Negative" disabled />
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Save review and return to dashboard</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <footer class="footer">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                                    ia_warriors 2024</span>
                                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Distributed
                                    By: <a href="https://www.themewagon.com/" target="_blank">Tunisie Tourism</a></span>
                                <!--<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>-->
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- base:js -->
    <script src="static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="static/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="static/js/off-canvas.js"></script>
    <script src="static/js/hoverable-collapse.js"></script>
    <script src="static/js/template.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="static/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>

</html>