<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formulaire de voyage</title>
    <style>
        .container {
            width: 400px;
            padding: 20px;
            background-color: white;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        .progress-bar {
            height: 10px;
            background-color: #ddd;
            margin-bottom: 20px;
            position: relative;
        }

        .progress-bar-fill {
            height: 100%;
            width: 0;
            background-color: #4caf50;
            transition: width 0.3s;
        }

        .form-section {
            display: none;
        }

        .form-section.active {
            display: block;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group select,
        .form-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
        }

        .buttons button {
            padding: 10px;
        }
    </style>
    <!-- base:css -->
    <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/style_spica.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="static/img/favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container-scroller d-flex">
        <!-- partial:./partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item sidebar-category">
                    <p>Navigation</p>
                    <span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="mdi mdi-view-quilt menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                        <!-- <div class="badge badge-info badge-pill">2</div> -->
                    </a>
                </li>
                <li class="nav-item sidebar-category">
                    <p>What to do next?</p>
                    <span></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/local_experiences">
                        <i class="mdi mdi-magnify menu-icon"></i>
                        <span class="menu-title">Find local experiences</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/preferences">
                        <i class="mdi mdi-clock menu-icon"></i>
                        <span class="menu-title">Find iteneraries</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/tables/basic-table.html">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Tables</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pages/icons/mdi.html">
                        <i class="mdi mdi-emoticon menu-icon"></i>
                        <span class="menu-title">Icons</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper" style="background-image: url('/static/img/other/navbar-cover.jpg');
        background-size: cover;
       ">
            <!-- partial:./partials/_navbar.html -->
            <nav class="navbar col-lg-12 col-12 px-0 py-0 py-lg-4 d-flex flex-row">
                <div class="navbar-menu-wrapper d-flex align-items-center justify-content-xl-start">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-toggle="minimize">
                        <span class="mdi mdi-menu"></span>
                    </button>
                    <!--<div class="navbar-brand-wrapper">
            <a class="navbar-brand brand-logo" href="index.html"><img src="static/img/logo.svg" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="static/img/logo-mini.svg" alt="logo"/></a>
          </div>-->
                    <h4 class="font-weight-bold mb-0 d-none d-md-block mt-1">Welcome back, {{username}}</h4>
                </div>
                <div class="navbar-menu-wrapper navbar-search-wrapper d-none d-lg-flex align-items-center">

                    <ul class="navbar-nav navbar-nav-right">
                        <li class="nav-item nav-profile dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                                <img src="static/img/faces/face5.jpg" alt="profile" />
                                <span class="nav-profile-name">{{username}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                aria-labelledby="profileDropdown">
                                <a class="dropdown-item">
                                    <i class="mdi mdi-settings text-primary"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="/signout">
                                    <i class="mdi mdi-logout text-primary"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for("main.locationChoix")}}" class="nav-link icon-link">
                                <i class="mdi mdi-plus-circle-outline"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{url_for('main.preferences')}}" class="nav-link icon-link">
                                <i class="mdi mdi-web"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="container">
                        <div class="progress-bar">
                            <div class="progress-bar-fill" id="progressBar"></div>
                        </div>

                        <form method="POST" action="/recommend">
                            <!-- Profil de l'utilisateur -->
                            <div class="form-section active" id="section1">
                                <h3>Profil de l'utilisateur</h3>
                                <div class="form-group">
                                    <label for="age">Tranche d'âge :</label>
                                    <select id="age">
                                        <option>18-25</option>
                                        <option>26-35</option>
                                        <option>36-45</option>
                                        <option>46 et plus</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="gender">Genre :</label>
                                    <select id="gender">
                                        <option>Masculin</option>
                                        <option>Féminin</option>
                                        <option>Autre</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="nationality">Nationalité :</label>
                                    <input type="text" id="nationality">
                                </div>
                                <div class="form-group">
                                    <label for="travelFrequency">Fréquence des voyages en Tunisie :</label>
                                    <select id="travelFrequency">
                                        <option>Élevée</option>
                                        <option>Moyenne</option>
                                        <option>Basse</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Préférences de voyage -->
                            <div class="form-section" id="section2">
                                <h3>Préférences de voyage</h3>
                                <div class="form-group">
                                    <label for="vacationType">Type de vacances :</label>
                                    <select id="vacationType">
                                        <option>Détente</option>
                                        <option>Aventure</option>
                                        <option>Culturelle</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="budget">Budget :</label>
                                    <select id="budget">
                                        <option>Low</option>
                                        <option>Meduim</option>
                                        <option>High</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="stayDuration">Durée du séjour :</label>
                                    <select id="stayDuration">
                                        <option>Moins de 2 semaines</option>
                                        <option>Moins d'1 mois</option>
                                        <option>1 mois et plus</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="season">Saison préférée :</label>
                                    <select id="season">
                                        <option>Hiver</option>
                                        <option>Été</option>
                                        <option>Automne</option>
                                        <option>Printemps</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="groupSize">Taille du groupe :</label>
                                    <select id="groupSize">
                                        <option>Moins de 5 personnes</option>
                                        <option>5 personnes et plus</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Intérêts -->
                            <div class="form-section" id="section3">
                                <h3>Intérêts</h3>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Historical Site"> Historical
                                        Site</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Cultural Landmark"> Cultural
                                        Landmark</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Eco-tourism Spot"> Eco-tourism
                                        Spot</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Natural Landmark"> Natural
                                        Landmark</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Museum"> Museum</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Religious Site"> Religious
                                        Site</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Local Experience"> Local
                                        Experience</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Family Activity"> Family
                                        Activity</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Cultural Experience"> Cultural
                                        Experience</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="interest" value="Hidden Gem"> Hidden Gem</label>
                                </div>
                            </div>


                            <!-- Critères environnementaux -->
                            <div class="form-section" id="section4">
                                <h3>Critères environnementaux</h3>
                                <div class="form-group">
                                    <label for="sustainableTourism">Importance accordée au tourisme durable :</label>
                                    <select id="sustainableTourism">
                                        <option>Très important</option>
                                        <option>Important</option>
                                        <option>Peu important</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" name="compromise" value="Oui"> Prêt à faire des
                                        compromis pour voyager de manière plus responsable</label>
                                </div>
                                <div class="form-group">
                                    <label for="specificActivities">Activités spécifiques :</label>
                                    <input type="text" id="specificActivities" placeholder="Randonnée, plongée, etc.">
                                </div>
                            </div>

                            <!-- Buttons -->
                            <div class="buttons">
                                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Précédent</button>
                                <button type="submit" id="submitForm" onclick="nextPrev(1)">Soumettre</button>
                            </div>
                        </form>

                        <div id="recommendations"></div>
                    </div>
                </div>
                <footer class="footer">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                                    ia_warriors 2024</span>
                                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Distributed
                                    By: <a href="https://www.themewagon.com/" target="_blank">Tunisie Tourism</a></span>
                                <!--<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard templates</a> from Bootstrapdash.com</span>-->
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script>
        let currentSection = 0;
        const sections = document.querySelectorAll(".form-section");
        const progressBar = document.getElementById("progressBar");

        function showSection(n) {
            sections.forEach((section, index) => {
                section.classList.toggle("active", index === n);
            });
            progressBar.style.width = ((n + 1) / sections.length) * 100 + "%";
            document.getElementById("prevBtn").style.display = n === 0 ? "none" : "inline";
            document.getElementById("submitForm").textContent = n === sections.length - 1 ? "Soumettre" : "Suivant";
        }

        function nextPrev(n) {
            // Move to the next or previous section
            currentSection += n;
            // If the current section is the last one, allow form submission
            if (currentSection >= sections.length) {
                document.getElementById("travelForm").submit();
                return false;
            }
            showSection(currentSection);
        }

        showSection(currentSection);

        document.getElementById("submitForm").addEventListener("click", function (event) {
            if (currentSection === sections.length - 1) {
                event.preventDefault();

                // Collect form data
                const formData = {
                    age: document.getElementById("age").value,
                    gender: document.getElementById("gender").value,
                    nationality: document.getElementById("nationality").value,
                    travelFrequency: document.getElementById("travelFrequency").value,
                    vacationType: document.getElementById("vacationType").value,
                    budget: document.getElementById("budget").value,
                    stayDuration: document.getElementById("stayDuration").value,
                    season: document.getElementById("season").value,
                    groupSize: document.getElementById("groupSize").value,
                    interests: Array.from(document.querySelectorAll('input[name="interest"]:checked')).map(input => input.value),
                    sustainableTourism: document.getElementById("sustainableTourism").value,
                    compromise: document.querySelector('input[name="compromise"]:checked') ? "Oui" : "Non",
                    specificActivities: document.getElementById("specificActivities").value
                };

                // Send data to the backend
                fetch("/submit_preferences", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(formData)
                })
                    .then(response => response.json())
                    .then(data => {
                        // Store recommendations in sessionStorage to use on the results page
                        sessionStorage.setItem('recommendations', JSON.stringify(data.recommendations));
                        window.location.href = '/recommend'; // Redirect to results page
                    })

                    .catch(error => console.error("Erreur lors de l'envoi du formulaire :", error));
            }
        });
    </script>
    <!-- base:js -->
    <script src="static/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <script src="static/vendors/chart.js/Chart.min.js"></script>
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="static/js/off-canvas.js"></script>
    <script src="static/js/hoverable-collapse.js"></script>
    <script src="static/js/template.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="static/js/dashboard.js"></script>
    <!-- End custom js for this page-->
</body>

</html>