<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}Spica Admin{% endblock %}</title>
  <!-- base:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/mdi/css/materialdesignicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_spica.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
</head>
<body>
  <div class="container-scroller d-flex">
    <!-- Sidebar -->
    {% block sidebar %}
      {% include 'partials/_sidebar.html' %}
    {% endblock %}

    <div class="container-fluid page-body-wrapper" style="background-image: url('{{ url_for('static', filename='img/other/navbar-cover.jpg') }}'); background-size: cover;">
      
      <!-- Navbar -->
      {% block navbar %}
        {% include 'partials/_navbar.html' %}
      {% endblock %}

      <div class="main-panel">
        <div class="content-wrapper">
          {% block content %}
          <!-- Dynamic content goes here -->
          {% endblock %}
        </div>
        
        <!-- Footer -->
        {% block footer %}
          {% include 'partials/_footer.html' %}
        {% endblock %}
      </div>
    </div>
  </div>

  <!-- base:js -->
  <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
